{% extends "layout.html" %}

{% block css %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} 测试结果查询 {% endblock %}</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="/static/layui/layui/css/layui.css" rel="stylesheet">
</head>
{% endblock css %}

{% block content %}

<body style="position: relative; left:15%;top:20px;width:1000px">

    <table class="layui-table" lay-even>
        <thead>
            <tr>
                <th lay-data="{field:'题目id', minWidth: 180}">题目id(点击题号可查询题目)</th>
                <th lay-data="{field:'题目', width:150}">题目</th>
                <th lay-data="{field:'用户回答', width:150}">用户回答</th>
                <th lay-data="{field:'正确答案', minWidth: 180}">正确答案</th>
                <th lay-data="{field:'答题情况', minWidth: 180}">答题情况</th>
                <th lay-data="{field:'答题时间', minWidth: 180}">答题时间</th>
            </tr>
        </thead>

        <tbody>
            {% for resault in resault_list %}
            <tr>
                <td style="font-size: 20px"><a href="/questionResearch/?id={{ resault.id }}">{{ resault.id }}</a></td>
                <td>这个标志代表什么？<img src="/static/images/{{ resault.question }}" style="width: 50px;"> </td>
                <td>{{ resault.answer }}</td>
                <td>{{ resault.correct }}</td>
                <td>{% ifequal resault.correct_or_not "True" %}正确{% else %}错误{% endifequal %}</td>
                <td>{{ resault.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
{% endblock content %}
