<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> {% block title %} 交通标志识别 {% endblock %}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/layui/css/layui.css" rel="stylesheet">
  {% block css %}{% endblock %}
</head>

<body>
  <ul class="layui-nav layui-nav-tree layui-nav-side">
    <li class="layui-nav-item"><a href="/">主页</a></li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">页面跳转</a>
      <dl class="layui-nav-child">
        <dd><a href="/predict">图片预测</a><span class="layui-badge-dot layui-bg-blue"></span></dd>
        <dd><a href="/detection">小测试</a><span class="layui-badge-dot layui-bg-green"></span></dd>
        <dd><a href="/detectionResault">测试结果查询</a><span class="layui-badge-dot layui-bg-gray"></span></dd>
      </dl>
    </li>
    <li class="layui-nav-item">
      <a href="javascript:;">用户管理</a>
      <dl class="layui-nav-child">
        <dd><a href="/me">个人信息</a><span class="layui-badge-dot layui-bg-cyan"></span></dd>
        <dd><a href="/update">修改信息</a><span class="layui-badge-dot layui-bg-orange"></span></dd>
        <dd><a href="/logout">退出登录</a><span class="layui-badge-dot"></span></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="/admin">管理员</a></li>
  </ul>

  {% block content %}{% endblock %}
</body>

</html>

<script src="/static/layui/layui/layui.js"></script>
<script>
  layui.use(function () {
    var element = layui.element;
    element.render('nav');
  });
</script>
{% block js %}{% endblock %}