{% extends "layout.html" %}
<!DOCTYPE html>
<html>

{% block css%}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} 图片识别 {% endblock %}</title>
  <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
  <link href="/static/layui/layui/css/layui.css" rel="stylesheet">

</head>
{% endblock %}

<body>
  {% block content %}

  <div class="container" style="margin-left: 300px; width: 800px; position:relative; top: 40px">
    <blockquote class="layui-elem-quote layui-text">
      上传含交通标志的图片
    </blockquote>
    <div class="layui-upload;">
      <button type="button" class="layui-btn" id="ID-upload-demo-btn">
        <i class="layui-icon layui-icon-upload"></i> 单图片上传
      </button>
      <div style="width: 300px;">
        <div class="layui-upload-list">
          <img class="layui-upload-img" id="ID-upload-demo-img" style="width: 100%; height: 300px;">
          <div id="ID-upload-demo-text"></div>
        </div>
        <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="filter-demo">
          <div class="layui-progress-bar" lay-percent=""></div>
        </div>
      </div>
    </div>

    <div>
      <span id="result" style="font-size: large;"></span>
      <br>
      <img style="width: 600px;height: 600px" id="img" src="" alt="">
    </div>

    <a name="list-progress"> </a>

    <div style="margin-top: 10px;">
    </div>
  </div>


</body>

</html>
{% endblock %}
{% block js%}
<script>
  layui.use(function () {
    var upload = layui.upload;
    var layer = layui.layer;
    var element = layui.element;
    var $ = layui.$;
    // 单图片上传
    var uploadInst = upload.render({
      elem: '#ID-upload-demo-btn',
      exts: 'jpg|png|jpeg', // 只允许上传图片
      url: ' {% url "predict" %} ', // 实际使用时改成您自己的上传接口即可。
      before: function (obj) {
        // 预读本地文件示例，不支持ie8
        obj.preview(function (index, file, result) {
          $('#ID-upload-demo-img').attr('src', result); // 图片链接（base64）
        });

        element.progress('filter-demo', '0%'); // 进度条复位
        layer.msg('上传中', { icon: 16, time: 0 });
      },
      done: function (res) {
        // 若上传失败
        if (res.code > 0) {
          return layer.msg('上传失败');
        }
        else {
          $("#result").text('识别结果为' + res.result.category)
          $("#img").attr("src", res.img)
          return layer.msg('您预测的结果为' + res.result.category);
        }
        // 上传成功的一些操作
        // …
        $('#ID-upload-demo-text').html(''); // 置空上传失败的状态
      },
      error: function () {
        // 演示失败状态，并实现重传
        var demoText = $('#ID-upload-demo-text');
        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        demoText.find('.demo-reload').on('click', function () {
          uploadInst.upload();
        });
      },
      // 进度条
      progress: function (n, elem, e) {
        element.progress('filter-demo', n + '%'); // 可配合 layui 进度条元素使用
        if (n == 100) {
          layer.msg('上传完毕', { icon: 1 });
        }
      }
    });
  });

</script>
{% endblock %}