{% extends "layout.html" %} 
{% block title %} 交通标志查询  {% endblock %}
{% block content %}
<form style="position: relative; left: 20%; top: 40px; width: 700px">
  <blockquote class="layui-elem-quote" style="font-size: 30px">
    交通标志查询
  </blockquote>
  <div class="layui-panel" style="word-wrap: break-word">
    <div style="padding: 32px; height: 5px; font-size: 22px">
      标志图案<br />
    </div>
    <div style="padding: 32px; height: 100px; font-size: 32px">
      <img src="/static/images/{{result.sign_img}}" width="100px" />
    </div>
  </div>
  <div class="layui-panel">
    <div style="padding: 32px; font-size: 22px">
      标志名称：{{result.sign_name}}
    </div>
  </div>
  <div class="layui-panel">
    <div style="padding: 32px; font-size: 22px">
      标志描述：{{result.sign_description}}
    </div>
  </div>
  <div class="layui-panel">
    <div style="padding: 32px; font-size: 22px">
      <a href="https://www.baidu.com/s?wd={{result.sign_name}}"
        >百度搜索链接→→→<img style="height: 100px" src="/static/baiduLogo.png"
      /></a>
    </div>
    <div style="padding: 32px; font-size: 22px">
      <a href="https://www.bing.com/search?q={{result.sign_name}}"
        >必应搜索链接→→→<img style="height: 100px" src="/static/bingLogo.png"
      /></a>
    </div>
    <div style="padding: 32px; font-size: 22px">
      <a href="https://www.google.com/search?&q={{result.sign_name}}"
        >谷歌搜索链接→→→<img style="height: 100px" src="/static/googleLogo.png"
      /></a>
    </div>
  </div>
</form>
<form class="layui-form" action="/trafficSignResearch/" method="post" style="position: absolute; right: 50px; top:50px; width:500px;">
  <div class="layui-form-item layui-form-text">
    <input name='sign_name' value='{{result.sign_name}}' type="hidden">
    <div class="layui-input-block">
      <textarea name='comment' placeholder="评论这个标志" class="layui-textarea"></textarea>
    </div>
  </div>
    <button class="layui-btn" lay-submit lay-filter="formDemo" style="position: absolute; right: 0px;">
      添加评论
    </button>
    <br>
    <br>
    <br>
    {% for comment in comment_list %}
      <div class="layui-panel" style="width:390px;left:110px">
        <div style="padding: 32px;font-size: 22px">{{ comment.user.name }}：{{ comment.comment }}</div>
        <div style="padding: 12px;">{{ comment.time }} 评论了这个标志</div>
      </div>
    {% endfor %}
<form>

{% endblock content %}
